* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-box-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 250px;
  padding: 1rem;
  margin: 0 0.5rem;
}

.search-btn,
.shuffle-btn {
  padding: 1rem;
  margin: 0 0.5rem;
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1250px;
  margin: 4rem auto;
  /* background-color: rgba(0, 0, 0, 0.949); */
  padding: 5rem 2rem;
}

.img-wrapper {
  position: relative;
  width: 400px;
  /* display: flex;
  justify-content: space-around; */
  /* align-items: center; */
}

.poke--img {
  display: block;
  width: 350px;
  height: 350px;
}
