* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-box-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 250px;
  padding: 1rem;
  margin: 0 0.5rem;
}

.search-btn,
.shuffle-btn {
  padding: 1rem;
  margin: 0 0.5rem;
}

.pokemon-container {
  max-width: 960px;
  margin: 4rem auto;
  background-color: rgba(255, 0, 0, 0.205);
  padding: 5rem 2rem;
}
